# server/requirements.txt
# Use CPU PyTorch to avoid huge CUDA downloads in the container
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1

fastapi==0.116.2
uvicorn==0.35.0
psutil==7.0.0

# model-manager + HF stack
transformers==4.56.1
tokenizers==0.22.0
accelerate==1.10.1
python-multipart==0.0.20
sentencepiece==0.2.1
